.historical-aqi-graph {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    width: 100%;
    max-width: 670px;
    margin: 25px;
    height: 390px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.historical-aqi-graph:hover {
    transform: scale(1.01);
}

.historical-aqi-graph h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.historical-aqi-graph p {
    color: #666;
    font-size: 16px;
    text-align: center;
}

.historical-aqi-graph .chart-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.chartjs-render-monitor {
    border: 2px solid #34A853;
    border-radius: 10px;
}

/* Tablet (768px and below) */
@media (max-width: 768px) {
    .historical-aqi-graph {
        padding: 15px;
        height: 340px;
    }

    .historical-aqi-graph h2 {
        font-size: 20px;
    }

    .historical-aqi-graph p {
        font-size: 14px;
    }
}

/* Phone (480px and below) */
@media (max-width: 480px) {
    .historical-aqi-graph {
        padding: 10px;
    }

    .historical-aqi-graph h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .historical-aqi-graph p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart-container {
        height: 280px; /* Adjusted for smaller screens */
    }

    .chartjs-render-monitor {
        border-width: 1px;
    }
}
