.mapCard {
    height: 370px;
    min-width: 332px;
    max-width: 100%; /* Ensures the card does not exceed the container width */
    width: calc(100% - 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    background-color: #fff;
    transition: ease 0.3s;
    margin: 15px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
    overflow: hidden; /* Prevents content overflow */
}

.mapCard:hover {
    transform: scale(1.01);
    transition: ease 0.3s;
}

.mapHeading {
    height: 12%;
    font-size: 13px;
    text-align: left;
    width: 90%;
}

.mapArea {
    height: 96%;
    width: 90%;
    margin: 8px;
}

.mapArea MapComponent {
    height: 100%;
    width: 100%;
}

@media (max-width: 1100px) {
    .mapCard {
        width: 90%; /* Sets width to 90% for smaller screens */
        min-width: 300px; /* Ensures minimum width for better responsiveness */
        max-width: none; /* Allows flexibility in width */
    }
}
